<mat-toolbar color="primary" class="mat-toolbar">
    <a routerLink="/" class="logo">Event Management System</a>
    <div class="spacer"></div>
    <app-search></app-search>
    <div class="space"></div>
        <!-- <a><strong *ngIf="user">{{user.fullName}}</strong></a> -->
     <a routerLink="/login" *ngIf="!user" mat-button>Login |</a>
     <a *ngIf="user" (click)="onLogout()" mat-button>Logout |</a>
     <a routerLink="dashboard" class="logo">Dashboard</a>
     <div class="spacer"></div>
     <a><strong *ngIf="user"> {{user.fullName}}</strong></a>
</mat-toolbar>
   