.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-top: 3rem;

    .details{
        width: 28rem;

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }


    mat-card {
      max-width: 600px;
      margin: 2em auto;
      text-align: center;
      max-height: 600px;
    }
    
    .header{
      text-align: center;
    
    }
    .full-width {
      width: 100%;
    }
    
    .button-row {
      padding-top: 5px;
    }
    
    .button-row a {
      margin-right: 8px;
      text-align: center;
    }
    
    .emailInput{
      padding-top: 10px;
    }
    
    .contentBody {
      padding: 60px 1rem;
      background :#1b6ca8;
      display: block;
    }
    
    .aLink{
      float: right;
      text-decoration: none;
    }
}

.scrollable-container {
  position: relative;
  padding: 20px; /* Add padding to create space for the button */
}