
<div class="scrollable-container">
  <button class="btn btn-light back-button d-flex align-items-center" (click)="goBack()">
     <mat-icon>keyboard_backspace</mat-icon>Back 
   </button>
 </div>

<div class="container">
    <div class="details">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">

            <div class="emailInput">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    formControlName="email"
                    matInput
                    placeholder="Enter email address" required
                  />
                  <mat-error *ngIf="!loginForm.controls['email'].valid && isSubmitted">
                    Email is required
                  </mat-error>
                </mat-form-field>
              </div>

            <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]=" hidePassword ? 'password' : 'text'" required />
                <button  mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide Password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>
                    {{hidePassword ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </button>
            
            <mat-error *ngIf="!loginForm.controls['password'].valid && isSubmitted">
                Password is required
              </mat-error>

            </mat-form-field>
            <span>
                <a class="text-link" class="aLink" routerLink="/forgot-password">Forgot Password?</a>
              </span>
            </div>

            <button class="btn btn-primary">Login</button>
        
            <div class="register">
                New user? &nbsp;
                <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
                  Register here
                </a>
            </div>

        </form>
    </div>
</div>