
<div class="scrollable-container">
    <button class="btn btn-light back-button d-flex align-items-center" (click)="goBack()">
       <mat-icon>keyboard_backspace</mat-icon>{{'back' | translate}} 
     </button>
   </div>

<div class="container" *ngIf="userDetails$ | async as userDetails">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">{{ 'userProfile' | translate }}</h3>
            <div class="user-details">
              <p><strong>{{'fullName' | translate}}:</strong> {{userDetails.fullName}}</p>
              <p><strong>Email:</strong> {{userDetails.email}}</p>
              <p><strong>{{'phoneNumber' | translate}}:</strong> {{userDetails.phoneNumber}}</p>
              <p><strong>{{ 'age' | translate }}:</strong> {{userDetails.age}}</p>
              <p><strong>{{ 'address' | translate }}:</strong> {{userDetails.address}}</p>
            </div>
            <ng-template #editMode>
                <form [formGroup]="userFrom" (ngSubmit)="saveChanges();" >
              <div class="form-group">
                <label for="fullName">{{'fullName' | translate}}</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="form-group">
                <label for="phoneNumber">{{'phoneNumber' | translate}}</label>
                <input type="tel" class="form-control" formControlName="phoneNumber">
              </div>
              <div class="form-group">
                <label for="age">{{ 'age' | translate }}</label>
                <input type="number" class="form-control" formControlName="age">
              </div>
              <div class="form-group">
                <label for="address">{{ 'address' | translate }}</label>
                <textarea id="address" class="form-control" rows="3" formControlName="address"></textarea>
              </div>
              <button class="btn btn-primary" type="submit">Save Changes</button>
                </form>
              </ng-template>
            <button class="btn btn-primary edit-button" (click)="toggleEditMode()" *ngIf="!editMode" >Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>