<div class="scrollable-container">
  <button
    class="btn btn-light back-button d-flex align-items-center"
    (click)="goBack()"
  >
    <mat-icon>keyboard_backspace</mat-icon>{{ 'back' | translate }}
  </button>
</div>

<div *ngIf="event$ | async as event">
  <div class="container mt-5">
    <div class="row">

      <div class="col-md-8">
        <div class="card">
          <img class="card-img-top" src="{{ event.image }}" alt="Event Image" />
     
          <div class="card-body">
            <h2 class="card-title">{{ event.title }}</h2>
            <h5 class="card-title" style="color:rgba(53, 52, 52, 0.664)">{{ 'desc' | translate }}:</h5>
            <p class="card-text">{{ event.description }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center" style="color:rgba(104, 101, 101, 0.993)">{{ 'eventDetails' | translate }}</h3>

            <div >
              
                  <p><strong i18n> <mat-icon class="mr-1" style="vertical-align: middle; color:rgba(53, 52, 52, 0.664)">event</mat-icon>:</strong> {{ event.date | date }}</p>
                  <p><strong><mat-icon class="mr-1" style="vertical-align: middle; color:rgba(53, 52, 52, 0.664)">location_on</mat-icon>:</strong> {{ event.location }} </p>
                  <p>
                    <strong style="color:rgba(53, 52, 52, 0.664)">{{ 'lastDateToRegister' | translate }}:</strong>
                    {{ event.lastDate | date }}
                  </p>
                  <p><strong style="color:rgba(53, 52, 52, 0.664)">{{ 'price' | translate }}:</strong> {{ event.price | currency }}</p>
                  
              
            </div>
            <div >
              <p><strong style="color:rgba(53, 52, 52, 0.664)">{{ 'maxAtt' | translate }}:</strong> {{ event.maxAttenders }}</p>
              <p>
                <strong style="color:rgba(53, 52, 52, 0.664)">{{ 'registeredAtt' | translate }}:</strong>
                {{ event.registeredAttenders }}
              </p>
            </div>
          </div>

          <div class="card-footer">
            <ng-container *ngIf="calculateDaysLeftFunction(event.lastDate) <= 0; else goOn">
              <button class="btn btn-secondary" disabled>
                {{ 'timeExpired' | translate }}
              </button>
            </ng-container>

            <ng-template #goOn>
              <ng-container *ngIf="event.namesOfRegisteredAttenders.includes(user?.fullName) else bookNow">
                <button class="btn btn-warning" disabled>
                  {{ 'alreadyRegistered' | translate }}
                </button>
              </ng-container>
            </ng-template>

            <ng-template #bookNow>
              <ng-container *ngIf="user && event.maxAttenders >= event.registeredAttenders; else noUser">
                <button
                  class="btn btn-primary"
                  (click)="openBookingForm(bookingDialog)"
                >
                {{ 'bookNow' | translate }}
                </button>
              </ng-container>
            </ng-template>

            <ng-template #noUser>
              <ng-container *ngIf="event.maxAttenders >= event.registeredAttenders; else soldOut">
                <button
                  class="btn btn-primary"
                  routerLink="/login"
                >
                {{ 'pleaseLogin' | translate }}
                </button>
              </ng-container>
            </ng-template> 

            <ng-template #soldOut>
              <ng-container >
                <button class="btn btn-secondary" disabled>{{ 'soldOut' | translate }}</button>
              </ng-container>
            </ng-template>

            
            <ng-template #noUser>
              <ng-container>
                <button
                  class="btn btn-primary"
                  routerLink="/login"
                >
                {{ 'pleaseLogin' | translate }}
                </button>
              </ng-container>
            </ng-template> 
          </div>
        </div>

        <app-user-list [event]="event"></app-user-list>
        
        <app-comments [event]="event"></app-comments>

      </div>
    </div>
  </div>

  <!-- Booking Form Dialog -->
  <ng-template #bookingDialog let-c="close" let-d="dismiss">
    <mat-dialog-container style="z-index: 1070">
      <div class="modal-header">
        <h4 matDialogTitle>{{ 'bookEvent' | translate }}</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4><strong>{{ 'wantToBookEvent' | translate }}</strong></h4>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="d('Close click')"
        >
        {{ 'close' | translate }}
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="bookEvent();d('Close click')"
        >
        {{ 'book' | translate }}
        </button>
      </div>
    </mat-dialog-container>
  </ng-template>
</div>
