<div class="scrollable-container">
  <button
    class="btn btn-light back-button d-flex align-items-center"
    (click)="goBack()"
  >
    <mat-icon>keyboard_backspace</mat-icon>Back
  </button>
</div>

<div *ngIf="event$ | async as event">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="{{ event.image }}" alt="Event Image" />
          <!-- src="{{ event.image }}" -->
          <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">{{ event.description }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Event Details</h5>

            <div class="col-md-6">
              <p><strong i18n>Date:</strong> {{ event.date | date }}</p>
              <p>
                <strong>Last Date to Register:</strong>
                {{ event.lastDate | date }}
              </p>
              <p><strong>Price:</strong> {{ event.price | currency }}</p>
            </div>
            <div class="col-md-6">
              <p><strong>Max Attendees:</strong> {{ event.maxAttenders }}</p>
              <p>
                <strong>Registered Attendees:</strong>
                {{ event.registeredAttenders }}
              </p>
            </div>
          </div>

          <div class="card-footer">
            <ng-container
              *ngIf="calculateDaysLeftFunction(event.lastDate) <= 0; else goOn"
            >
              <button class="btn btn-secondary" disabled>
                Registration time expired
              </button>
            </ng-container>
            <ng-template #goOn>
              <ng-container
                *ngIf="
                  event.namesOfRegisteredAttenders.includes(user.fullName);
                  else bookNow
                "
              >
                <button class="btn btn-warning" disabled>
                  Already Registered
                </button>
              </ng-container>
            </ng-template>

            <ng-template #bookNow>
              <ng-container
                *ngIf="
                  event.maxAttenders > event.registeredAttenders;
                  else soldOut
                "
              >
                <button
                  class="btn btn-primary"
                  (click)="openBookingForm(bookingDialog)"
                >
                  Book Now
                </button>
              </ng-container>
            </ng-template>
            <ng-template #soldOut>
              <button class="btn btn-secondary" disabled>Sold Out</button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Booking Form Dialog -->
  <ng-template #bookingDialog let-c="close" let-d="dismiss">
    <mat-dialog-container style="z-index: 1070">
      <div class="modal-header">
        <h4 matDialogTitle>Book Event</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4><strong>Do you want to Book for this Event?</strong></h4>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="d('Close click')"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="bookEvent();"
        >
          Book
        </button>
      </div>
    </mat-dialog-container>
  </ng-template>
</div>
