.form-control{
    width: 17rem;
}

.d-flex {
    margin-bottom: 2rem;
}

.btn-group {
    margin-left: 1rem;
}

.bi {
    color: red;
    font-size: 1.7rem;
    margin-left: 1rem;
    cursor: pointer;
}