.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    border-radius: 0px;
  }
  .input-search{
    height: 50px;
    width: 300px;
    border-style: none;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 0px;
    background-color: transparent;
    padding-right: 40px;
    background-color: rgba(207, 195, 195, 0.671);
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }