<div class="d-flex">

        <div><input matInput class="form-control" placeholder="{{ 'search' | translate }} ..." type="search" [(ngModel)]="searchValue" (input)="updateSearchValue()"></div>

        <div ngbDropdown class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" ngbDropdownToggle>
            {{ 'locations' | translate}}
          </button>
          <div ngbDropdownMenu class="dropdown-menu">
            <div *ngFor="let item of Locations"> 
            <a class="dropdown-item" ngbDropdownItem (click)="setValue(item)"> {{item}}</a>
             <div class="dropdown-divider"></div>
            </div>
          </div>
          
        </div>
        <div *ngIf="locationInput$ | async as location">
            <a (click)="setValue('');" *ngIf="location != ''" ><i class="bi bi-x-lg"></i></a>
        </div>
        
</div>
