<div class="container mt-5">
  <div class="demo-button-container">
    <button
      mat-raised-button
      class="demo-button"
      *ngIf="user.role == 'organizer'"
      routerLink="create-event"
    >
    {{ 'createEvent' | translate }}
    </button>
    <button
      mat-raised-button
      *ngIf="user.role == 'admin'"
      routerLink="register-organizer"
      class="demo-button"
    >
    {{ 'registerOrg' | translate }}
    </button>
  </div>

  <mat-tab-group>
    <mat-tab label="{{ 'allEvents' | translate }}">
      <table
        mat-table
        [dataSource]="events$ | async"
        class="mat-elevation-z8 demo-table"
      >
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>{{ 'title' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="lastDate">
          <th mat-header-cell *matHeaderCellDef>{{ 'lastDateToRegister' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.lastDate }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>{{ 'date' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="maxAttenders">
          <th mat-header-cell *matHeaderCellDef>{{ 'maxAtt' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.maxAttenders }}</td>
        </ng-container>

        <ng-container matColumnDef="registeredAttenders">
          <th mat-header-cell *matHeaderCellDef>{{ 'registeredAtt' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.registeredAttenders }}
          </td> </ng-container
        >^

        <ng-container matColumnDef="modify">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="primary"
              routerLink="event-crud/{{ element.id }}"
              [disabled]="
                !(element.creator == user.uid) || element.role != organizer
              "
            >
            {{ 'modify' | translate }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </mat-tab>

    <mat-tab label="{{ 'myEvents' | translate }}">
      <table
        mat-table
        [dataSource]="myEvents$ | async"
        class="mat-elevation-z8 demo-table"
      >
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>{{ 'title' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="lastDate">
          <th mat-header-cell *matHeaderCellDef>{{ 'lastDateToRegister' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.lastDate }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>{{ 'date' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="maxAttenders">
          <th mat-header-cell *matHeaderCellDef>{{ 'maxAtt' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.maxAttenders }}</td>
        </ng-container>

        <ng-container matColumnDef="registeredAttenders">
          <th mat-header-cell *matHeaderCellDef>{{ 'registeredAtt' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.registeredAttenders }}
          </td> </ng-container
        >^

        <ng-container matColumnDef="modify">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="primary"
              routerLink="event-crud/{{ element.id }}"
              [disabled]="
                !(element.creator == user.fullName) || element.role != organizer
              "
            >
            {{ 'modify' | translate }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
