a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.lng-btn:hover{
    background-color: rgb(182, 185, 187);
}

.dropdown-item {
    color: black; 
}

.navbar{
    background-color: rgb(65, 65, 243);
}

nav a:active {
    text-decoration: underline;
  }
  
nav a:active {
    background-color: red !important;
  }
  