<!-- <mat-toolbar color="primary" class="mat-toolbar">
  <a routerLink="/" class="logo">Event Management System</a>
  <div class="spacer"></div>

  <a routerLink="dashboard" class="logo">Dashboard</a>
  <div style="width: 20px"></div>
  <a routerLink="/login" *ngIf="!(user | async)" mat-button>Login </a>
  <a *ngIf="user | async" (click)="onLogout()" mat-button>Logout </a>
  <div style="width: 20px"></div>
  <a *ngIf="user | async" routerLink="events/user/profile"
    ><strong> {{ (user | async).fullName }}</strong></a
  >
  <div style="width: 20px"></div>

  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button
      type="button"
      class="btn btn-outline-light"
      id="dropdown"
      ngbDropdownAnchor
      (focus)="myDrop.open()"
    >
      <mat-icon>language</mat-icon>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdown">
      <button class="lng-btn" ngbDropdownItem (click)="changeLanguage('al')">
        Shqip
        <img src="../../../assets/flangs/albania.png" alt="Albania Flag" />
      </button>
      <button class="lng-btn" ngbDropdownItem (click)="changeLanguage('en')">
        English
        <img src="../../../assets/flangs/great-britain.png" alt="G-B Flag" />
      </button>
      <button class="lng-btn" ngbDropdownItem (click)="changeLanguage('de')">
        Deutsch
        <img src="../../../assets/flangs/germany.svg" alt="German Flag" />
      </button>
    </div>
  </div>
</mat-toolbar> -->
<nav class="navbar navbar-expand-lg navbar-light custom-bg-color">
  <div class="container">
    <div class="collapse navbar-collapse mx-auto d-flex justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="events">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login" *ngIf="!(user | async)" >LOGIN</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="user | async" (click)="onLogout()">LOGOUT</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="user | async" routerLink="user/profile"
          ><strong> {{ (user | async).fullName }}</strong></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="dashboard">DASHBOARD</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a type="button" class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
            <i class="bi bi-translate"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="lng-btn" ngbDropdownItem (click)="changeLanguage('al')">
              Shqip
              <img src="../../../assets/flangs/albania.png" alt="Albania Flag" />
            </button>
            <button class="lng-btn" ngbDropdownItem (click)="changeLanguage('en')">
              English
              <img src="../../../assets/flangs/great-britain.png" alt="G-B Flag" />
            </button>
            <button class="lng-btn" ngbDropdownItem (click)="changeLanguage('de')">
              Deutsch
              <img src="../../../assets/flangs/germany.svg" alt="German Flag" />
            </button>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>