<mat-toolbar color="primary" class="mat-toolbar">
  <a routerLink="/" class="logo">Event Management System</a>
  <div class="spacer"></div>

  <a routerLink="dashboard" class="logo">Dashboard</a>
  <div style="width: 20px"></div>
  <a routerLink="/login" *ngIf="!(user | async)" mat-button>Login </a>
  <a *ngIf="user | async" (click)="onLogout()" mat-button>Logout </a>
  <div style="width: 20px"></div>
  <a *ngIf="user | async" routerLink="events/user/profile"
    ><strong> {{ (user | async).fullName }}</strong></a
  >
  <div style="width: 20px"></div>

  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button
      type="button"
      class="btn btn-outline-light"
      id="dropdown"
      ngbDropdownAnchor
      (focus)="myDrop.open()"
    >
      <mat-icon>language</mat-icon>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdown">
      <button ngbDropdownItem (click)="changeLanguage('al')">
        Shqip
        <img src="../../../assets/flangs/albania.png" alt="Albania Flag" />
      </button>
      <button ngbDropdownItem (click)="changeLanguage('en')">
        English
        <img src="../../../assets/flangs/great-britain.png" alt="G-B Flag" />
      </button>
      <button ngbDropdownItem (click)="changeLanguage('de')">
        Deutsch
        <img src="../../../assets/flangs/germany.svg" alt="German Flag" />
      </button>
    </div>
  </div>
</mat-toolbar>
