
.dates{
    display: flex;
}

.dates div{
    padding-right: 1rem;
}

.input-group.dates{
    display: flex;
    flex-direction: column;
}

div{
    padding-top: 20px;
}

.back-button {
    position: absolute;
    top: 1;
    left: 1;
    z-index: 999; /* Adjust the z-index as needed */
  }
  
  .scrollable-container {
    position: relative;
    padding: 20px; /* Add padding to create space for the button */
  }